* {
  margin: 0%;
  padding: 0%;
}


ul {
  display: flex;
  justify-content: flex-end;
  list-style-type:none;
}

li {
  margin-right: 2%;
  padding-left: 2%;
  padding-bottom: 2%;
}

img {
  width: 100%;
}

.container {
background-color: silver;
}

.container2 {
  background-color: lightgrey;
}

#header {
background-color: maroon;
}

#logo { 
padding-left: 5%;
padding-top: 1%;
}

#section1 {
  display: flex;
  align-items: center;
  text-align: center;
  padding-top: 2%;
  padding-right: 2%;
  padding-left: 5%;
  padding-bottom: 1%;
}

#paragrap1 {
  width: 65%;
}

#photo1 {
  width: 35%;
}

#section2{
  display: flex;
  align-items: center;
}

.container2{
  padding-top: 1%;
  padding-bottom: 2%;
  padding-left: 8%;
  padding-right: 2%;
}

#paragraph2 {
width: 50%;
padding-right: 1%;
}

#testimonials {
  width: 50%;
}

#section3 {
  padding-top: 2%;
}

#title {
  padding-left: 5%;
}

#section3subsection {
   display: flex;
   text-align: left;
   padding-top: 2%;
   padding-left: 5%;
   padding-right: 4%;
   padding-bottom: 3%;
} 

#services {
  padding-left: 1%;
}

#references {
  padding-left: 1%;
}

#pressrelease {
  padding-left: 1%;
}

button {
  background-color: rgb(34, 34, 212);

}
 
#logo, li, button {
  color: whitesmoke;
}